<h2>{{ title }}</h2>
<table width="100%" *ngIf="show; else no_to_found">
  <thead>
    <tr>
      <th align="left">Todo Item</th>
      <th align="left">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let todo of todos">
        <td ><a [routerLink]="['/todo', todo.id]">{{ todo.title }}</a></td>
        <td ><a [routerLink]="['/todo/edit', todo.id]"><mat-icon>edit</mat-icon></a> 
        <a [routerLink]="['/todo/delete', todo.id]"><mat-icon>delete</mat-icon></a></td>
    </tr>
  </tbody>
</table>
<ng-template #no_to_found>
  Please add todo item.
</ng-template>